a9s/common/schematron/business-rules/business-rules.sch.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema 
  xmlns="http://purl.oclc.org/dsdl/schematron" 
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  xmlns:dbk="http://docbook.org/ns/docbook"
  xmlns:css="http://www.w3.org/1996/css"
  xmlns:c="http://www.w3.org/ns/xproc-step"
  xmlns:mml="http://www.w3.org/1998/Math/MathML"
  queryBinding="xslt2">
  
  <ns prefix="c"      uri="http://www.w3.org/ns/xproc-step" />
  <ns prefix="xlink"  uri="http://www.w3.org/1999/xlink"/>
  <ns prefix="dbk"    uri="http://docbook.org/ns/docbook" />
  <ns prefix="css"    uri="http://www.w3.org/1996/css" />
  <ns prefix="mml"    uri="http://www.w3.org/1998/Math/MathML" />
  <ns prefix="oodraw" uri="http://schemas.openxmlformats.org/drawingml/2006/main"/>
  
  <let name="base-dir" value="/*/dbk:info/dbk:keywordset/dbk:keyword[@role eq 'source-dir-uri']"/>
  <let name="names" value="/*/dbk:info/css:rules"/>
  <let name="source-type" value="/*/dbk:info/dbk:keywordset/dbk:keyword[@role eq 'source-type']"/>

  <phase id="strict">
    <active pattern="headlines"/>
    <active pattern="images"/>
    <active pattern="equations"/>
  </phase>
  
  <pattern id="headlines">
    <rule context="dbk:title">
      <assert test="following-sibling::*[1]" id="no-content-after-headline" diagnostics="no-content-after-headline_de">
        <span class="srcpath"><xsl:value-of select="concat($base-dir, (@srcpath, ancestor::*[@srcpath][1]/@srcpath, .//@srcpath)[1])"/></span>
        <span class="hl">No content after </span><value-of select="parent::*/local-name()"/><span class="hl"> title found. DocBook expects that a headline is followed by regular content.</span>
      </assert>
    </rule>
  </pattern>
  
  <pattern id="images">
    <rule context="dbk:mediaobject|dbk:inlinemediaobject">
      <let name="fileref" value="dbk:imageobject/dbk:imagedata/@fileref"/>
      <let name="file-extension" value="replace($fileref, '^.+\.([a-zA-Z]+)$', '$1', 'i')"/>

      <assert test="matches($file-extension, '^(jpg|jpeg|png|svg)$', 'i')" id="image-format">
        <span class="srcpath"><xsl:value-of select="concat($base-dir, (@srcpath, ancestor::*[@srcpath][1]/@srcpath, .//@srcpath)[1])"/></span>
        <span>The file extension '</span><value-of select="$file-extension"/><span>' indicate an image format that is not compatible to EPUB.</span>
      </assert>
    </rule>
    <!-- check for office open drawingml -->
    <rule context="dbk:phrase[@role eq 'hub:foreign' and .//*[namespace-uri() eq 'http://schemas.openxmlformats.org/drawingml/2006/main']]">
      <assert test="false()" id="Unsupported_DrawingML">
        <span class="srcpath"><xsl:value-of select="concat($base-dir, (@srcpath, ancestor::*[@srcpath][1]/@srcpath, .//@srcpath)[1])"/></span>
        <span>Word DrawingML graphic found. Drawing ML objects cannot be converted. Please replace your Drawing ML object with a PNG (for example a screenshot of your DrawingML graphic).</span>
      </assert>
    </rule>
  </pattern>
  
  <pattern id="equations">
    <rule context="dbk:equation|dbk:inlineequation">
      <assert test="mml:math" id="old-word-equation">
        <span class="srcpath"><xsl:value-of select="concat($base-dir, (@srcpath, ancestor::*[@srcpath][1]/@srcpath, .//@srcpath)[1])"/></span>
        <span>Word equations from Word 2003 and earlier are not supported in the demo.</span>
      </assert>
      <assert test="not(mml:math)" id="word-equation">
        <span class="srcpath"><xsl:value-of select="concat($base-dir, (@srcpath, ancestor::*[@srcpath][1]/@srcpath, .//@srcpath)[1])"/></span>
        <span>Word equations from Word 2007 and later are converted to MathML. Please note that the MathML equation is rendered via MathJax. Native rendering of MathML equations is not supported by most browsers and EPUB readers.</span>
      </assert>
    </rule>
  </pattern>
  
  <diagnostics>
    <diagnostic id="no-content-after-headline_de" xml:lang="de">
      <span class="hl">Nach einer Überschrift oder einem Abbildungs- bzw. Tabellentitel müssen die zugehörigen Inhalte folgen.</span>
    </diagnostic>
  </diagnostics>

</schema>