a9s/common/schematron/styles/styles.sch.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" 
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  queryBinding="xslt2">

  <ns prefix="aid" uri="http://ns.adobe.com/AdobeInDesign/4.0/" />
  <ns prefix="aid5" uri="http://ns.adobe.com/AdobeInDesign/5.0/" />
  <ns prefix="idPkg" uri="http://ns.adobe.com/AdobeInDesign/idml/1.0/packaging" />
  <ns prefix="idml2xml" uri="http://transpect.io/idml2xml" />
  <ns prefix="css" uri="http://www.w3.org/1996/css" />
  <ns prefix="dbk" uri="http://docbook.org/ns/docbook" />
	<ns prefix="tr" uri="http://transpect.io"/>
  
  <let name="base-dir" value="/tr:doc-and-template-styles/*[1]/dbk:info/dbk:keywordset/dbk:keyword[@role eq 'source-dir-uri']"/>
  <let name="template-styles" value="/tr:doc-and-template-styles/*[2]/self::css:rules/css:rule"/>
  <let name="default-style-names" value="('NormalParagraphStyle', 'No_character_style', 'hub_page-number')"/>
  <let name="template-style-names" value="(distinct-values(for $n in $template-styles/@name return replace($n, '(_-_|[~&#x2dc;]).+$', '')),
                                           $default-style-names)"/>
  
  <pattern id="sch_styles">
    
    <rule context="*[count($template-style-names) gt count($default-style-names)][@role][not(self::dbk:keywordset or self::dbk:keyword or self::dbk:tab)]">
      <let name="base-role" value="replace(@role, '(_-_|[~&#x2dc;]).+$', '')" />
      <assert test="$base-role = $template-style-names" id="sch_styles_undefined" diagnostics="sch_styles_undefined_de"
        role="warning">
        <span class="srcpath"><xsl:value-of select="concat($base-dir, (@srcpath, ancestor::*[@srcpath][1]/@srcpath, .//@srcpath)[1])"/></span>
        Style '<value-of select="$base-role"/>' not found in allowed templates catalog 
        '<value-of select="string-join(tokenize(base-uri($template-styles[1]), '/')[position() ge last() - 4],'/')"/>'.</assert>
    </rule>
       
  </pattern>

  <diagnostics>
    <diagnostic id="sch_styles_undefined_de" xml:lang="de">
      Formatvorlage '<value-of select="$base-role"/>' existiert nicht in der Liste 
      '<value-of select="string-join(tokenize(base-uri($template-styles[1]), '/')[position() ge last() - 4], '/')"/>'
      der zulässigen Formate.
    </diagnostic>
  </diagnostics>

</schema>